body {
    background: #bd0808;
    color: whitesmoke;
}
  
.sidebar {
    width: 33.333333%;
    overflow: auto;
    height: 100vh;
}
h1 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    width: 100%;
    margin: 10% 0;
}
p {
      color: whitesmoke;
      text-align: center;
}

.white {
    color: whitesmoke;
}
.map {
    border-left: 1px solid #fff;
    position: absolute;
    left: 33.333333%;
    width: 66.666666%;
    top: 0;
    bottom: 0;
}
.center {
    text-align: center;
}
.notfound {
    margin-top: 30%;
}
.btn {
    margin: 10px 5%;
}
li {
    text-align: left;
    color: #000000;
}

h2 {
    font-size: 80px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}
form {
     width: 100%;
}

#menu {
    display: none;
}

#form {
    margin: auto;
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: whitesmoke;
    color: black;
    width: 50%;
    margin: 5% 10% 0% 42%;
    border: 2px solid #bd0808;
    border-radius: 5%;
    text-align: center;
    padding: 2% 5%;
}
.home {
    margin-top: 25%;
}

.mobile {
    display: none;
}

.stop {
    display: none;
    background-color: rgba(0, 0, 0, 0.37);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9998;
}

.profile {
    border-bottom-style: 1px solid #581c1c;
    margin-bottom: 5px;
}

.edit-delete{
    float: right;
}

@media screen and (max-width: 961px) {
    .mobile {
        display: inline-block;
    }
    #menu {
        right: 40px;
        top: 10px;
        display: flex;
        position: absolute;
        z-index: 2;
    }
    .sidebar {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        background: #bd0808;
        animation-duration: 2s;
        right: 0px;
    }
    .map {
        position: absolute;
        left: 0px;
        width: 100%;
    }
    #form {
        background-color: whitesmoke;
        color: black;
        width: 75%;
        height: 100%;
        margin: 0% 12.5%;
        border-radius: 5%;
    }
}
@keyframes slideright {
    from {
        right: 961px;
    }
    to {
        right: 0px;
    }
}
@keyframes slideleft {
  from {
    right: 0px;
  }

  to {
    right: 961px;
  }
}